In [1]:
from typing import List
# from databricks import koalas as ks , we do not neven need koalsa, because it is now built in with databricks
import pyspark.pandas as ps
from pyspark.sql import DataFrame as SparkDataFrame

from pyspark.ml.feature import VectorAssembler,VectorIndexer,OneHotEncoder,StringIndexer
from pyspark.ml import Pipeline

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [2]:
from SparkAutoML.ml_module.preprocessing_module.preprocess_file import Preprocessor

In [16]:
# read data 
df = ps.read_csv("credit.csv")

In [17]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default'],
      dtype='object')

In [11]:
#def bool_function(df:ks.DataFrame)->ks.DataFrame:
def bool_function(df):
  df =ps.sql("""select *,
  case when mean_bal > 50000 then 1 else 0 end as new_bol_sql
  from {df}""")
  return df

In [19]:
# that is how you can apply the full stack piping in koalas
df= (
df
[['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE']]
.pipe(lambda x: ps.sql(""" select * , case when LIMIT_BAL < 100000 then 'low' when LIMIT_BAL between 100000 and 200000 then 'medium' else 'high' end as BAL_CAT from {x}"""))
.pipe(lambda x: ps.sql(""" select * , case when AGE < 30 then 'youth' when AGE between 30 and 40 then 'yong' else 'mature' end as maturity from {x}"""))
)

In [20]:
df.head()

   LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE BAL_CAT maturity
0      20000    2          2         1   24     low    youth
1      90000    2          2         2   34     low     yong
2      50000    2          2         1   37     low     yong
3      50000    1          2         1   57     low   mature
4      50000    1          1         2   37     low     yong

In [21]:
spark_df = df.to_spark()
train,test = spark_df.randomSplit([.70,.30],seed=123)

In [22]:
pipe = Preprocessor(training_data=train
                     ,hold_out_data=test,
                     target_feature='default',
                     numeric_features= ['LIMIT_BAL',],
                     categorical_features=["BAL_CAT","maturity"],
                     impute_missing_values=True, missing_value_strategy="mean",
                      )

In [23]:
pipe.run_pipeline()

In [24]:
pipe.train_data_transformed.show()

+---------+---+---------+--------+---+-------+--------+-------------+--------------+--------------------+---------------------+-----------------+--------------------+
|LIMIT_BAL|SEX|EDUCATION|MARRIAGE|AGE|BAL_CAT|maturity|BAL_CAT_index|maturity_index|BAL_CAT_index_onehot|maturity_index_onehot|LIMIT_BAL_imputed|            features|
+---------+---+---------+--------+---+-------+--------+-------------+--------------+--------------------+---------------------+-----------------+--------------------+
|    10000|  1|        1|       1| 38|    low|    yong|          0.0|           0.0|       (3,[0],[1.0])|        (3,[0],[1.0])|            10000|(7,[0,1,4],[10000...|
|    10000|  1|        1|       1| 40|    low|    yong|          0.0|           0.0|       (3,[0],[1.0])|        (3,[0],[1.0])|            10000|(7,[0,1,4],[10000...|
|    10000|  1|        1|       1| 48|    low|  mature|          0.0|           2.0|       (3,[0],[1.0])|        (3,[2],[1.0])|            10000|(7,[0,1,6],[10000...|
|    10000|  1|        1|       1| 50|    low|  mature|          0.0|           2.0|       (3,[0],[1.0])|        (3,[2],[1.0])|            10000|(7,[0,1,6],[10000...|
|    10000|  1|        1|       2| 22|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 22|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 23|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 23|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 23|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 23|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 24|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 24|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 24|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 24|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 25|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 25|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 25|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 26|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 27|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
|    10000|  1|        1|       2| 29|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|            10000|(7,[0,1,5],[10000...|
+---------+---+---------+--------+---+-------+--------+-------------+--------------+--------------------+---------------------+-----------------+--------------------+
only showing top 20 rows

In [50]:
class parent():
    def __init__(self,arga,argb):
        self.arga = arga
        self.argb = argb
        print ("running parent")
        return None

In [56]:
class child(parent):
    def __init__(self, super):
        
        print ("running child")

In [57]:
c = child(arga="a",argb="b")

TypeError: __init__() got an unexpected keyword argument 'arga'

In [49]:
c.arga

AttributeError: 'child' object has no attribute 'arga'