In [1]:
from typing import List
# from databricks import koalas as ks , we do not neven need koalsa, because it is now built in with databricks
import pyspark.pandas as ps
from pyspark.sql import DataFrame as SparkDataFrame

from pyspark.ml.feature import VectorAssembler,VectorIndexer,OneHotEncoder,StringIndexer
from pyspark.ml import Pipeline

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [104]:

from pyspark import keyword_only  ## < 2.0 -> pyspark.ml.util.keyword_only
from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCol, HasOutputCol, Param, Params, TypeConverters
# Available in PySpark >= 2.3.0 
from pyspark.ml.util import DefaultParamsReadable, DefaultParamsWritable  
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, StringType

class Connector(
        Transformer, HasInputCol, HasOutputCol,
        # Credits https://stackoverflow.com/a/52467470
        # by https://stackoverflow.com/users/234944/benjamin-manns
        DefaultParamsReadable, DefaultParamsWritable):


    @keyword_only
    def __init__(self, inputCol=None, outputCol=None):
        super(Connector, self).__init__()
        kwargs = self._input_kwargs
        self.setParams(**kwargs)

    @keyword_only
    def setParams(self, inputCol=None, outputCol=None,):
        kwargs = self._input_kwargs
        return self._set(**kwargs)


    # Required in Spark >= 3.0
    def setInputCol(self, value):
        """
        Sets the value of :py:attr:`inputCol`.
        """
        return self._set(inputCol=value)

    # Required in Spark >= 3.0
    def setOutputCol(self, value):
        """
        Sets the value of :py:attr:`outputCol`.
        """
        return self._set(outputCol=value)

    def _transform(self, dataset):
        dataset = dataset

        return dataset

In [159]:

from pyspark import keyword_only  ## < 2.0 -> pyspark.ml.util.keyword_only
from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCol, HasOutputCol, Param, Params, TypeConverters
# Available in PySpark >= 2.3.0 
from pyspark.ml.util import DefaultParamsReadable, DefaultParamsWritable  
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, StringType

class ColumnHandler(
        Transformer, HasInputCol, HasOutputCol,
        # Credits https://stackoverflow.com/a/52467470
        # by https://stackoverflow.com/users/234944/benjamin-manns
        DefaultParamsReadable, DefaultParamsWritable):


    @keyword_only
    def __init__(self, inputCol=None, outputCol=None):
        super(ColumnHandler, self).__init__()
        kwargs = self._input_kwargs
        self.setParams(**kwargs)

    @keyword_only
    def setParams(self, inputCol=None, outputCol=None,):
        kwargs = self._input_kwargs
        return self._set(**kwargs)


    # Required in Spark >= 3.0
    def setInputCol(self, value):
        """
        Sets the value of :py:attr:`inputCol`.
        """
        return self._set(inputCol=value)

    # Required in Spark >= 3.0
    def setOutputCol(self, value):
        """
        Sets the value of :py:attr:`outputCol`.
        """
        return self._set(outputCol=value)

    def _transform(self, dataset):
        dataset = dataset.drop('numeric_features')
        dataset = dataset.withColumnRenamed("numeric_features1","numeric_features") 

        return dataset

In [2]:
from SparkAutoML.ml_module.preprocessing_module.preprocess_file import Preprocessor
from pyspark.sql.types import FloatType
from pyspark.sql.types import IntegerType

In [3]:
# read data 
df = ps.read_csv("credit.csv")

In [4]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default'],
      dtype='object')

In [5]:
#def bool_function(df:ks.DataFrame)->ks.DataFrame:
def bool_function(df):
  df =ps.sql("""select *,
  case when mean_bal > 50000 then 1 else 0 end as new_bol_sql
  from {df}""")
  return df

In [6]:
# that is how you can apply the full stack piping in koalas
df= (
df
[['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE']]
.pipe(lambda x: ps.sql(""" select * , case when LIMIT_BAL < 100000 then 'low' when LIMIT_BAL between 100000 and 200000 then 'medium' else 'high' end as BAL_CAT from {x}"""))
.pipe(lambda x: ps.sql(""" select * , case when AGE < 30 then 'youth' when AGE between 30 and 40 then 'yong' else 'mature' end as maturity from {x}"""))
)

In [7]:
df.head()

   LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE BAL_CAT maturity
0      20000    2          2         1   24     low    youth
1      90000    2          2         2   34     low     yong
2      50000    2          2         1   37     low     yong
3      50000    1          2         1   57     low   mature
4      50000    1          1         2   37     low     yong

In [166]:
from pyspark.ml.feature import (
    VectorAssembler,
    VectorIndexer,
    OneHotEncoder,
    StringIndexer,
    Imputer,
    Normalizer,
    StandardScaler,
)
from pyspark.ml import Pipeline

In [167]:
StandardScaler()

StandardScaler_6c2c5d726524

In [9]:
import numpy as np
# df.iloc[0,4] = np.nan
# df.AGE = df.AGE.astype(float)
spark_df = df.to_spark()
# spark_df = spark_df.withColumn('AGE', spark_df['AGE'].cast(IntegerType()))
train,test = spark_df.randomSplit([.70,.30],seed=123)

In [10]:
spark_df.columns

['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'BAL_CAT', 'maturity']

In [182]:
def _pipe(num_cols,cat_cols=None, impute=False, impute_strategy='mean', normalize=False, normalize_p=2, 
          standard_scale =False,standard_scaler_withMean=False,standard_scaler_withStd=True,):
    
    # first we deploy imputer
    if impute:
        imputer = Imputer(inputCols=num_cols,outputCols=num_cols,strategy=impute_strategy)
    else:
        imputer = Connector()
        
    # we need Vector Assambler here anyway
    assemble_numeric = VectorAssembler(inputCols=num_cols,outputCol='numeric_features')
    
    # if we need normalizer
    if normalize:
        normalizer = Normalizer(inputCol='numeric_features',outputCol='numeric_features1')
        column_handler1 = ColumnHandler()
    else:
        normalizer = Connector()
        column_handler1 = Connector()
    
    # standard scaller
    if standard_scale:
        standard_scaler = StandardScaler(inputCol='numeric_features',outputCol='numeric_features1',
                                        withMean=standard_scaler_withMean,withStd=standard_scaler_withStd)
        column_handler2 = ColumnHandler()
    else:
        standard_scaler = Connector()
        column_handler2 = Connector()
        
        
        
        
        
    
    
    p = Pipeline(stages=[imputer,assemble_numeric,normalizer,column_handler1,standard_scaler,column_handler2])
    
    return p

In [188]:
# imp = Imputer(inputCols=['AGE','SEX'],outputCols=['AGE','SEX'])
# assmb = VectorAssembler(inputCols=['AGE','SEX'],outputCol='features')
# norm = nnormalizer()
# # assmb2 = VectorAssembler(inputCols=['features1'],outputCol='features2')
# pipe = Pipeline(stages = [imp])


pipe = _pipe(num_cols=['AGE','SEX'],cat_cols=None,impute=False,impute_strategy='mean',normalize=False,normalize_p=2,standard_scale=False)
fitted = pipe.fit(spark_df)
fitted.transform(spark_df).show()

+---------+---+---------+--------+---+-------+--------+----------------+
|LIMIT_BAL|SEX|EDUCATION|MARRIAGE|AGE|BAL_CAT|maturity|numeric_features|
+---------+---+---------+--------+---+-------+--------+----------------+
|    20000|  2|        2|       1| 24|    low|   youth|      [24.0,2.0]|
|    90000|  2|        2|       2| 34|    low|    yong|      [34.0,2.0]|
|    50000|  2|        2|       1| 37|    low|    yong|      [37.0,2.0]|
|    50000|  1|        2|       1| 57|    low|  mature|      [57.0,1.0]|
|    50000|  1|        1|       2| 37|    low|    yong|      [37.0,1.0]|
|   100000|  2|        2|       2| 23| medium|   youth|      [23.0,2.0]|
|   140000|  2|        3|       1| 28| medium|   youth|      [28.0,2.0]|
|    20000|  1|        3|       2| 35|    low|    yong|      [35.0,1.0]|
|   200000|  2|        3|       2| 34| medium|    yong|      [34.0,2.0]|
|   260000|  2|        1|       2| 51|   high|  mature|      [51.0,2.0]|
|   630000|  2|        2|       2| 41|   high|  mature|      [41.0,2.0]|
|   250000|  1|        1|       2| 29|   high|   youth|      [29.0,1.0]|
|    50000|  2|        3|       3| 23|    low|   youth|      [23.0,2.0]|
|    20000|  1|        1|       2| 24|    low|   youth|      [24.0,1.0]|
|   320000|  1|        1|       1| 49|   high|  mature|      [49.0,1.0]|
|   360000|  2|        1|       1| 49|   high|  mature|      [49.0,2.0]|
|   180000|  2|        1|       2| 29| medium|   youth|      [29.0,2.0]|
|   130000|  2|        3|       2| 39| medium|    yong|      [39.0,2.0]|
|    70000|  2|        2|       2| 26|    low|   youth|      [26.0,2.0]|
|   450000|  2|        1|       1| 40|   high|    yong|      [40.0,2.0]|
+---------+---+---------+--------+---+-------+--------+----------------+
only showing top 20 rows

In [28]:
pipe = Preprocessor(training_data=train
                     ,hold_out_data=test,
                     target_feature='LIMIT_BAL',
                     numeric_features= ['AGE','SEX'],
                     categorical_features=["BAL_CAT","maturity"],
                     impute_missing_values=True, missing_value_strategy="mean",
                     normalize= True,
                     standard_scale=True
                      )

In [29]:
pipe.run_pipeline()

In [30]:
pipe.fit_transform()

In [31]:
pipe.train_data_transformed.show()

+---------+---+---------+--------+---+-------+--------+--------------------+
|LIMIT_BAL|SEX|EDUCATION|MARRIAGE|AGE|BAL_CAT|maturity|    numeric_features|
+---------+---+---------+--------+---+-------+--------+--------------------+
|  10000.0|  1|        1|       1| 38|    low|    yong|[954.733573425178...|
|  10000.0|  1|        1|       1| 40|    low|    yong|[954.765784924959...|
|  10000.0|  1|        1|       1| 48|    low|  mature|[954.856907896601...|
|  10000.0|  1|        1|       1| 50|    low|  mature|[954.873147092114...|
|  10000.0|  1|        1|       2| 22|    low|   youth|[954.078992409441...|
|  10000.0|  1|        1|       2| 22|    low|   youth|[954.078992409441...|
|  10000.0|  1|        1|       2| 23|    low|   youth|[954.162673354240...|
|  10000.0|  1|        1|       2| 23|    low|   youth|[954.162673354240...|
|  10000.0|  1|        1|       2| 23|    low|   youth|[954.162673354240...|
|  10000.0|  1|        1|       2| 23|    low|   youth|[954.162673354240...|
|  10000.0|  1|        1|       2| 24|    low|   youth|[954.236131858791...|
|  10000.0|  1|        1|       2| 24|    low|   youth|[954.236131858791...|
|  10000.0|  1|        1|       2| 24|    low|   youth|[954.236131858791...|
|  10000.0|  1|        1|       2| 24|    low|   youth|[954.236131858791...|
|  10000.0|  1|        1|       2| 25|    low|   youth|[954.300966986551...|
|  10000.0|  1|        1|       2| 25|    low|   youth|[954.300966986551...|
|  10000.0|  1|        1|       2| 25|    low|   youth|[954.300966986551...|
|  10000.0|  1|        1|       2| 26|    low|   youth|[954.358477040145...|
|  10000.0|  1|        1|       2| 27|    low|   youth|[954.409724954194...|
|  10000.0|  1|        1|       2| 29|    low|   youth|[954.496793933561...|
+---------+---+---------+--------+---+-------+--------+--------------------+
only showing top 20 rows

In [50]:
class parent():
    def __init__(self,arga,argb):
        self.arga = arga
        self.argb = argb
        print ("running parent")
        return None

In [56]:
class child(parent):
    def __init__(self, super):
        
        print ("running child")

In [57]:
c = child(arga="a",argb="b")

TypeError: __init__() got an unexpected keyword argument 'arga'

In [49]:
c.arga

AttributeError: 'child' object has no attribute 'arga'