In [24]:
from typing import List
# from databricks import koalas as ks , we do not neven need koalsa, because it is now built in with databricks
import pyspark.pandas as ps
from pyspark.sql import DataFrame as SparkDataFrame

from pyspark.ml.feature import VectorAssembler,VectorIndexer,OneHotEncoder,StringIndexer
from pyspark.ml import Pipeline

In [25]:

from pyspark import keyword_only  ## < 2.0 -> pyspark.ml.util.keyword_only
from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCol, HasOutputCol, Param, Params, TypeConverters
# Available in PySpark >= 2.3.0 
from pyspark.ml.util import DefaultParamsReadable, DefaultParamsWritable  
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, StringType

class Connector(
        Transformer, HasInputCol, HasOutputCol,
        # Credits https://stackoverflow.com/a/52467470
        # by https://stackoverflow.com/users/234944/benjamin-manns
        DefaultParamsReadable, DefaultParamsWritable):


    @keyword_only
    def __init__(self, inputCol=None, outputCol=None):
        super(Connector, self).__init__()
        kwargs = self._input_kwargs
        self.setParams(**kwargs)

    @keyword_only
    def setParams(self, inputCol=None, outputCol=None,):
        kwargs = self._input_kwargs
        return self._set(**kwargs)


    # Required in Spark >= 3.0
    def setInputCol(self, value):
        """
        Sets the value of :py:attr:`inputCol`.
        """
        return self._set(inputCol=value)

    # Required in Spark >= 3.0
    def setOutputCol(self, value):
        """
        Sets the value of :py:attr:`outputCol`.
        """
        return self._set(outputCol=value)

    def _transform(self, dataset):
        dataset = dataset

        return dataset

In [26]:

from pyspark import keyword_only  ## < 2.0 -> pyspark.ml.util.keyword_only
from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCol, HasOutputCol, Param, Params, TypeConverters
# Available in PySpark >= 2.3.0 
from pyspark.ml.util import DefaultParamsReadable, DefaultParamsWritable  
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, StringType

class ColumnHandler(
        Transformer, HasInputCol, HasOutputCol,
        DefaultParamsReadable, DefaultParamsWritable):
    
    delete_col = Param(Params._dummy(), "delete_col", "delete_col",
                      typeConverter=TypeConverters.toString)
    
    replace_col = Param(Params._dummy(), "replace_col", "replace_col",
                      typeConverter=TypeConverters.toString)


    @keyword_only
    def __init__(self, inputCol=None, outputCol=None,delete_col=None,replace_col=None):
        super(ColumnHandler, self).__init__()
        self.delete_col = Param(self, "delete_col", "")
        self.replace_col = Param(self, "replace_col", "")
        kwargs = self._input_kwargs
        self.setParams(**kwargs)

    @keyword_only
    def setParams(self, inputCol=None, outputCol=None,delete_col=None,replace_col=None):
        kwargs = self._input_kwargs
        return self._set(**kwargs)
    
    def setDeleteCol(self, value):
        return self._set(delete_col=value)

    def getDeleteCol(self):
        return self.getOrDefault(self.delete_col)
    
        
    def setReplaceCol(self, value):
        return self._set(replace_col=value)

    def getReplaceCol(self):
        return self.getOrDefault(self.replace_col)


    # Required in Spark >= 3.0
    def setInputCol(self, value):
        """
        Sets the value of :py:attr:`inputCol`.
        """
        return self._set(inputCol=value)

    # Required in Spark >= 3.0
    def setOutputCol(self, value):
        """
        Sets the value of :py:attr:`outputCol`.
        """
        return self._set(outputCol=value)

    def _transform(self, dataset):
        delete_col = self.getDeleteCol()
        replace_col = self.getReplaceCol()
        
        dataset = dataset.drop(*delete_col) 
        dataset = dataset.withColumnRenamed(replace_col,delete_col) 

        return dataset

In [27]:

from pyspark import keyword_only  ## < 2.0 -> pyspark.ml.util.keyword_only
from pyspark.ml import Transformer
from pyspark.ml.param.shared import HasInputCol, HasOutputCol, Param, Params, TypeConverters
# Available in PySpark >= 2.3.0 
from pyspark.ml.util import DefaultParamsReadable, DefaultParamsWritable  
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, StringType

class Custom_OneHotEncoder(
        Transformer, HasInputCol, HasOutputCol,
        DefaultParamsReadable, DefaultParamsWritable):
    
    input_columns = Param(Params._dummy(), "input_columns", "input_columns",
                      typeConverter=TypeConverters.toListString)
    
    output_column = Param(Params._dummy(), "output_column", "output_column",
                      typeConverter=TypeConverters.toString)


    @keyword_only
    def __init__(self, inputCol=None, outputCol=None,input_columns=None,output_column=None):
        super(Custom_OneHotEncoder, self).__init__()
        self.input_columns = Param(self, "input_columns", "")
        self.output_column = Param(self, "output_column", "")
        kwargs = self._input_kwargs
        self.setParams(**kwargs)

    @keyword_only
    def setParams(self, inputCol=None, outputCol=None,input_columns=None,output_column=None):
        kwargs = self._input_kwargs
        return self._set(**kwargs)
    
    def setInput_columns(self, value):
        return self._set(input_columns=value)

    def getInput_columns(self):
        return self.getOrDefault(self.input_columns)
    
        
    def setOutput_column(self, value):
        return self._set(output_column=value)

    def getOutput_column(self):
        return self.getOrDefault(self.output_column)


    # Required in Spark >= 3.0
    def setInputCol(self, value):
        """
        Sets the value of :py:attr:`inputCol`.
        """
        return self._set(inputCol=value)

    # Required in Spark >= 3.0
    def setOutputCol(self, value):
        """
        Sets the value of :py:attr:`outputCol`.
        """
        return self._set(outputCol=value)

    def _transform(self, dataset):
        
        input_cols = self.getInput_columns()
        output_col = self.getOutput_column()
        
        indexer = StringIndexer(inputCols=input_cols,outputCols= [column + str("_indexer") for column in input_cols])
        encoder = OneHotEncoder(inputCols=[column + str("_indexer") for column in input_cols] , outputCols= 
                                [column + str("_encoded") for column in input_cols], dropLast=False)
        assembler = VectorAssembler(inputCols= [column + str("_encoded") for column in input_cols],
                                    outputCol= output_col)
        
        

        return indexer,encoder,assembler

In [28]:
from SparkAutoML.ml_module.preprocessing_module.preprocess_file import Preprocessor
from pyspark.sql.types import FloatType
from pyspark.sql.types import IntegerType

In [29]:
# read data 
df = ps.read_csv("credit.csv")

In [30]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default'],
      dtype='object')

In [31]:
#def bool_function(df:ks.DataFrame)->ks.DataFrame:
def bool_function(df):
  df =ps.sql("""select *,
  case when mean_bal > 50000 then 1 else 0 end as new_bol_sql
  from {df}""")
  return df

In [32]:
# that is how you can apply the full stack piping in koalas
df= (
df
[['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE']]
.pipe(lambda x: ps.sql(""" select * , case when LIMIT_BAL < 100000 then 'low' when LIMIT_BAL between 100000 and 200000 then 'medium' else 'high' end as BAL_CAT from {x}"""))
.pipe(lambda x: ps.sql(""" select * , case when AGE < 30 then 'youth' when AGE between 30 and 40 then 'yong' else 'mature' end as maturity from {x}"""))
)

In [33]:
df.head()

   LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE BAL_CAT maturity
0      20000    2          2         1   24     low    youth
1      90000    2          2         2   34     low     yong
2      50000    2          2         1   37     low     yong
3      50000    1          2         1   57     low   mature
4      50000    1          1         2   37     low     yong

In [34]:
from pyspark.ml.feature import (
    VectorAssembler,
    VectorIndexer,
    OneHotEncoder,
    StringIndexer,
    Imputer,
    Normalizer,
    StandardScaler,
)
from pyspark.ml import Pipeline

In [35]:
StandardScaler()

StandardScaler_aec5fb4e1333

In [36]:
import numpy as np
# df.iloc[0,4] = np.nan
# df.AGE = df.AGE.astype(float)
spark_df = df.to_spark()
# spark_df = spark_df.withColumn('AGE', spark_df['AGE'].cast(IntegerType()))
train,test = spark_df.randomSplit([.70,.30],seed=123)

In [37]:
spark_df.columns

['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'BAL_CAT', 'maturity']

In [38]:
def _pipe(num_cols,cat_cols=None, impute=False, impute_strategy='mean', normalize=False, normalize_p=2, 
          standard_scale =False,standard_scaler_withMean=False,standard_scaler_withStd=True,):
    
    # first we deploy imputer
    if impute:
        imputer = Imputer(inputCols=num_cols,outputCols=num_cols,strategy=impute_strategy)
    else:
        imputer = Connector()
        
    # we need Vector Assambler here anyway
    assemble_numeric = VectorAssembler(inputCols=num_cols,outputCol='numeric_features')
    
    # if we need normalizer
    if normalize:
        normalizer = Normalizer(inputCol='numeric_features',outputCol='numeric_features1')
        column_handler1 = ColumnHandler(delete_col='numeric_features',replace_col='numeric_features1')
    else:
        normalizer = Connector()
        column_handler1 = Connector()
    
    # standard scaller
    if standard_scale:
        standard_scaler = StandardScaler(inputCol='numeric_features',outputCol='numeric_features1',
                                        withMean=standard_scaler_withMean,withStd=standard_scaler_withStd)
        column_handler2 = ColumnHandler(delete_col='numeric_features',replace_col='numeric_features1')
    else:
        standard_scaler = Connector()
        column_handler2 = Connector()
        
        
        
        
        
    
    
    p = Pipeline(stages=[imputer,assemble_numeric,normalizer,column_handler1,standard_scaler,column_handler2])
    
    return p

In [39]:
# imp = Imputer(inputCols=['AGE','SEX'],outputCols=['AGE','SEX'])
# assmb = VectorAssembler(inputCols=['AGE','SEX'],outputCol='features')
# norm = nnormalizer()
# # assmb2 = VectorAssembler(inputCols=['features1'],outputCol='features2')
# pipe = Pipeline(stages = [imp])


pipe = _pipe(num_cols=['AGE','SEX'],cat_cols=None,impute=False,impute_strategy='mean',normalize=True,normalize_p=2,standard_scale=False)
fitted = pipe.fit(spark_df)
fitted.transform(spark_df).show()

+---------+---+---------+--------+---+-------+--------+----------------+--------------------+
|LIMIT_BAL|SEX|EDUCATION|MARRIAGE|AGE|BAL_CAT|maturity|numeric_features|    numeric_features|
+---------+---+---------+--------+---+-------+--------+----------------+--------------------+
|    20000|  2|        2|       1| 24|    low|   youth|      [24.0,2.0]|[0.99654575824487...|
|    90000|  2|        2|       2| 34|    low|    yong|      [34.0,2.0]|[0.99827437317499...|
|    50000|  2|        2|       1| 37|    low|    yong|      [37.0,2.0]|[0.99854227327750...|
|    50000|  1|        2|       1| 57|    low|  mature|      [57.0,1.0]|[0.99984614201001...|
|    50000|  1|        1|       2| 37|    low|    yong|      [37.0,1.0]|[0.99963496987285...|
|   100000|  2|        2|       2| 23| medium|   youth|      [23.0,2.0]|[0.99624058819568...|
|   140000|  2|        3|       1| 28| medium|   youth|      [28.0,2.0]|[0.99745869983073...|
|    20000|  1|        3|       2| 35|    low|    yong|      [35.0,1.0]|[0.99959208646069...|
|   200000|  2|        3|       2| 34| medium|    yong|      [34.0,2.0]|[0.99827437317499...|
|   260000|  2|        1|       2| 51|   high|  mature|      [51.0,2.0]|[0.99923195073154...|
|   630000|  2|        2|       2| 41|   high|  mature|      [41.0,2.0]|[0.99881235112489...|
|   250000|  1|        1|       2| 29|   high|   youth|      [29.0,1.0]|[0.99940599935358...|
|    50000|  2|        3|       3| 23|    low|   youth|      [23.0,2.0]|[0.99624058819568...|
|    20000|  1|        1|       2| 24|    low|   youth|      [24.0,1.0]|[0.99913307309235...|
|   320000|  1|        1|       1| 49|   high|  mature|      [49.0,1.0]|[0.99979181846344...|
|   360000|  2|        1|       1| 49|   high|  mature|      [49.0,2.0]|[0.99916805310057...|
|   180000|  2|        1|       2| 29| medium|   youth|      [29.0,2.0]|[0.99763032842298...|
|   130000|  2|        3|       2| 39| medium|    yong|      [39.0,2.0]|[0.99868766347658...|
|    70000|  2|        2|       2| 26|    low|   youth|      [26.0,2.0]|[0.99705448550158...|
|   450000|  2|        1|       1| 40|   high|    yong|      [40.0,2.0]|[0.99875233887784...|
+---------+---+---------+--------+---+-------+--------+----------------+--------------------+
only showing top 20 rows

In [79]:
pipe = Preprocessor(training_data=train
                     ,hold_out_data=test,
                     target_feature='LIMIT_BAL',
                     numeric_features= ['AGE','SEX'],
                     categorical_features=["BAL_CAT","maturity"],
                     impute_missing_values=True, missing_value_strategy="mean",
                     normalize= True,
                     standard_scale=True,
                    
                      )

In [80]:
pipe.run_pipeline()

In [81]:
pipe.fit_transform()

In [82]:
pipe.train_data_transformed.show()

+---------+---+---------+--------+---+-------+--------+--------------------+--------------------+
|LIMIT_BAL|SEX|EDUCATION|MARRIAGE|AGE|BAL_CAT|maturity|    numeric_features|categorical_features|
+---------+---+---------+--------+---+-------+--------+--------------------+--------------------+
|  10000.0|  1|        1|       1| 38|    low|    yong|[954.733573425178...| (6,[0,3],[1.0,1.0])|
|  10000.0|  1|        1|       1| 40|    low|    yong|[954.765784924959...| (6,[0,3],[1.0,1.0])|
|  10000.0|  1|        1|       1| 48|    low|  mature|[954.856907896601...| (6,[0,5],[1.0,1.0])|
|  10000.0|  1|        1|       1| 50|    low|  mature|[954.873147092114...| (6,[0,5],[1.0,1.0])|
|  10000.0|  1|        1|       2| 22|    low|   youth|[954.078992409441...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 22|    low|   youth|[954.078992409441...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 23|    low|   youth|[954.162673354240...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 23|    low|   youth|[954.162673354240...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 23|    low|   youth|[954.162673354240...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 23|    low|   youth|[954.162673354240...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 24|    low|   youth|[954.236131858791...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 24|    low|   youth|[954.236131858791...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 24|    low|   youth|[954.236131858791...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 24|    low|   youth|[954.236131858791...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 25|    low|   youth|[954.300966986551...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 25|    low|   youth|[954.300966986551...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 25|    low|   youth|[954.300966986551...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 26|    low|   youth|[954.358477040145...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 27|    low|   youth|[954.409724954194...| (6,[0,4],[1.0,1.0])|
|  10000.0|  1|        1|       2| 29|    low|   youth|[954.496793933561...| (6,[0,4],[1.0,1.0])|
+---------+---+---------+--------+---+-------+--------+--------------------+--------------------+
only showing top 20 rows

In [70]:
from pyspark.ml.feature import Interaction 
_int = Interaction(inputCols=['categorical_features','AGE','MARRIAGE',],outputCol='int')
df1 = _int.transform(pipe.train_data_transformed)

# how to do it ?
# if all numeric columns
#  pass all numeric features (one by one)

# if all categorical
# pass all encoded features one by one

# if numeric and categorical
 # pass categorical assembled feature with numeric features (one by one)
# take all the numeric features (if any) and IF Categorical features are there use the onehotencoded with vector assembler

# UPDATE: in any/all cases, we need encoded features forcategorical , and numeric features as is (both one by one)

ass = VectorAssembler(inputCols=['numeric_features','int'],outputCol='final')
df1 = ass.transform(df1)
df1.show()

+---------+---+---------+--------+---+-------+--------+--------------------+--------------------+--------------------+--------------------+
|LIMIT_BAL|SEX|EDUCATION|MARRIAGE|AGE|BAL_CAT|maturity|    numeric_features|categorical_features|                 int|               final|
+---------+---+---------+--------+---+-------+--------+--------------------+--------------------+--------------------+--------------------+
|  10000.0|  1|        1|       1| 38|    low|    yong|[954.733573425178...| (6,[0,3],[1.0,1.0])|(6,[0,3],[38.0,38...|(8,[0,1,2,5],[954...|
|  10000.0|  1|        1|       1| 40|    low|    yong|[954.765784924959...| (6,[0,3],[1.0,1.0])|(6,[0,3],[40.0,40...|(8,[0,1,2,5],[954...|
|  10000.0|  1|        1|       1| 48|    low|  mature|[954.856907896601...| (6,[0,5],[1.0,1.0])|(6,[0,5],[48.0,48...|(8,[0,1,2,7],[954...|
|  10000.0|  1|        1|       1| 50|    low|  mature|[954.873147092114...| (6,[0,5],[1.0,1.0])|(6,[0,5],[50.0,50...|(8,[0,1,2,7],[954...|
|  10000.0|  1|        1|       2| 22|    low|   youth|[954.078992409441...| (6,[0,4],[1.0,1.0])|(6,[0,4],[44.0,44...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 22|    low|   youth|[954.078992409441...| (6,[0,4],[1.0,1.0])|(6,[0,4],[44.0,44...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 23|    low|   youth|[954.162673354240...| (6,[0,4],[1.0,1.0])|(6,[0,4],[46.0,46...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 23|    low|   youth|[954.162673354240...| (6,[0,4],[1.0,1.0])|(6,[0,4],[46.0,46...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 23|    low|   youth|[954.162673354240...| (6,[0,4],[1.0,1.0])|(6,[0,4],[46.0,46...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 23|    low|   youth|[954.162673354240...| (6,[0,4],[1.0,1.0])|(6,[0,4],[46.0,46...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 24|    low|   youth|[954.236131858791...| (6,[0,4],[1.0,1.0])|(6,[0,4],[48.0,48...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 24|    low|   youth|[954.236131858791...| (6,[0,4],[1.0,1.0])|(6,[0,4],[48.0,48...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 24|    low|   youth|[954.236131858791...| (6,[0,4],[1.0,1.0])|(6,[0,4],[48.0,48...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 24|    low|   youth|[954.236131858791...| (6,[0,4],[1.0,1.0])|(6,[0,4],[48.0,48...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 25|    low|   youth|[954.300966986551...| (6,[0,4],[1.0,1.0])|(6,[0,4],[50.0,50...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 25|    low|   youth|[954.300966986551...| (6,[0,4],[1.0,1.0])|(6,[0,4],[50.0,50...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 25|    low|   youth|[954.300966986551...| (6,[0,4],[1.0,1.0])|(6,[0,4],[50.0,50...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 26|    low|   youth|[954.358477040145...| (6,[0,4],[1.0,1.0])|(6,[0,4],[52.0,52...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 27|    low|   youth|[954.409724954194...| (6,[0,4],[1.0,1.0])|(6,[0,4],[54.0,54...|(8,[0,1,2,6],[954...|
|  10000.0|  1|        1|       2| 29|    low|   youth|[954.496793933561...| (6,[0,4],[1.0,1.0])|(6,[0,4],[58.0,58...|(8,[0,1,2,6],[954...|
+---------+---+---------+--------+---+-------+--------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [84]:
df =  ps.DataFrame([("fahad","c", 2.0,4.0), ("umair","c", 3.0,5.0)], columns =["name","a", "b",'f']).to_spark()

ind = StringIndexer(inputCols=['a','name'],outputCols=['a_indexed','name_indexed'])
df = ind.fit(df).transform(df)
enc = OneHotEncoder(inputCols=["a_indexed","name_indexed"],outputCols=['a_encoded',"name_encoded"],dropLast=False)
df = enc.fit(df).transform(df)
df.show()

# interaction = Interaction()
# interaction.setInputCols(["encoded", "b","f"])

# interaction.setOutputCol("interacted")

# df = interaction.transform(df)

# df.show()

ass = VectorAssembler(inputCols=['a_encoded','name_encoded'],outputCol='features')
df = ass.transform(df)
df.show()

_in = Interaction(inputCols=["a_encoded","name_encoded"],outputCol='features_inter')
_in.transform(df).show()

+-----+---+---+---+---------+------------+-------------+-------------+
| name|  a|  b|  f|a_indexed|name_indexed|    a_encoded| name_encoded|
+-----+---+---+---+---------+------------+-------------+-------------+
|fahad|  c|2.0|4.0|      0.0|         0.0|(1,[0],[1.0])|(2,[0],[1.0])|
|umair|  c|3.0|5.0|      0.0|         1.0|(1,[0],[1.0])|(2,[1],[1.0])|
+-----+---+---+---+---------+------------+-------------+-------------+

+-----+---+---+---+---------+------------+-------------+-------------+-------------+
| name|  a|  b|  f|a_indexed|name_indexed|    a_encoded| name_encoded|     features|
+-----+---+---+---+---------+------------+-------------+-------------+-------------+
|fahad|  c|2.0|4.0|      0.0|         0.0|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,1.0,0.0]|
|umair|  c|3.0|5.0|      0.0|         1.0|(1,[0],[1.0])|(2,[1],[1.0])|[1.0,0.0,1.0]|
+-----+---+---+---+---------+------------+-------------+-------------+-------------+

+-----+---+---+---+---------+------------+-------------+-------------+-------------+--------------+
| name|  a|  b|  f|a_indexed|name_indexed|    a_encoded| name_encoded|     features|features_inter|
+-----+---+---+---+---------+------------+-------------+-------------+-------------+--------------+
|fahad|  c|2.0|4.0|      0.0|         0.0|(1,[0],[1.0])|(2,[0],[1.0])|[1.0,1.0,0.0]|     [1.0,0.0]|
|umair|  c|3.0|5.0|      0.0|         1.0|(1,[0],[1.0])|(2,[1],[1.0])|[1.0,0.0,1.0]|     [0.0,1.0]|
+-----+---+---+---+---------+------------+-------------+-------------+-------------+--------------+

In [89]:
num = ['num1','num2']
cat = ['a']

do_it = True

if (do_it and cat):
    print("both are not none")

both are not none

In [77]:
input_cols

['num1', 'cat2_indexer']