In [1]:
from typing import List
# from databricks import koalas as ks , we do not neven need koalsa, because it is now built in with databricks
import pyspark.pandas as ps
from pyspark.sql import DataFrame as SparkDataFrame

from pyspark.ml.feature import VectorAssembler,VectorIndexer,OneHotEncoder,StringIndexer
from pyspark.ml import Pipeline

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

In [2]:
from SparkAutoML.ml_module.preprocessing_module.preprocess_file import Preprocessor
from pyspark.sql.types import DoubleType

In [3]:
t = ps.DataFrame(dict(col_a=[1,2,3,4],col_b=[.24,.56,.12,.39],label=[1,0,0,1])).to_spark()
h = ps.DataFrame(dict(col_a=[1,2,3,4],col_b=[.24,.56,.12,.39],label=[1,0,0,1])).to_spark()
u = ps.DataFrame(dict(col_a=[1,2,3,4],col_b=[.24,.56,.12,.39],)).to_spark()

In [4]:
t.show()

+-----+-----+-----+
|col_a|col_b|label|
+-----+-----+-----+
|    1| 0.24|    1|
|    2| 0.56|    0|
|    3| 0.12|    0|
|    4| 0.39|    1|
+-----+-----+-----+

In [5]:
p = Preprocessor(training_data=t,hold_out_data=h,target_feature='label',numeric_features=['col_a','col_b'],categorical_features=None)
p.run_pipeline()
p.fit_transform()
p.train_data_transformed.show()

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>
+-----+-----+-----+----------+
|col_a|col_b|label|  features|
+-----+-----+-----+----------+
|    1| 0.24|  1.0|[1.0,0.24]|
|    2| 0.56|  0.0|[2.0,0.56]|
|    3| 0.12|  0.0|[3.0,0.12]|
|    4| 0.39|  1.0|[4.0,0.39]|
+-----+-----+-----+----------+

In [20]:
p.transform()
p.hold_out_data_transformed.show()

+-----+-----+-----+----------+
|col_a|col_b|label|  features|
+-----+-----+-----+----------+
|    1| 0.24|  1.0|[1.0,0.24]|
|    2| 0.56|  0.0|[2.0,0.56]|
|    3| 0.12|  0.0|[3.0,0.12]|
|    4| 0.39|  1.0|[4.0,0.39]|
+-----+-----+-----+----------+

In [6]:
p.fitted_pipeline.transform(u).show()

+-----+-----+----------+
|col_a|col_b|  features|
+-----+-----+----------+
|    1| 0.24|[1.0,0.24]|
|    2| 0.56|[2.0,0.56]|
|    3| 0.12|[3.0,0.12]|
|    4| 0.39|[4.0,0.39]|
+-----+-----+----------+

In [2]:
# read data 
df = ps.read_csv("credit.csv")

In [3]:
df.columns

Index(['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1', 'PAY_2',
       'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default'],
      dtype='object')

In [4]:
#def bool_function(df:ks.DataFrame)->ks.DataFrame:
def bool_function(df):
  df =ps.sql("""select *,
  case when mean_bal > 50000 then 1 else 0 end as new_bol_sql
  from {df}""")
  return df

In [5]:
# that is how you can apply the full stack piping in koalas
df= (
df
[['LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE','default']]
.pipe(lambda x: ps.sql(""" select * , case when LIMIT_BAL < 100000 then 'low' when LIMIT_BAL between 100000 and 200000 then 'medium' else 'high' end as BAL_CAT from {x}"""))
.pipe(lambda x: ps.sql(""" select * , case when AGE < 30 then 'youth' when AGE between 30 and 40 then 'yong' else 'mature' end as maturity from {x}"""))
)

In [6]:
df.head()

   LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  default BAL_CAT maturity
0      20000    2          2         1   24        1     low    youth
1      90000    2          2         2   34        0     low     yong
2      50000    2          2         1   37        0     low     yong
3      50000    1          2         1   57        0     low   mature
4      50000    1          1         2   37        0     low     yong

In [7]:
spark_df = df.to_spark()
train,test = spark_df.randomSplit([.70,.30],seed=123)

In [8]:
# pipe = Preprocessor(training_data=train
#                      ,hold_out_data=test,
#                      target_feature='default',
#                      numeric_features= ['LIMIT_BAL',],
#                      categorical_features=["BAL_CAT","maturity"],
#                      impute_missing_values=True, missing_value_strategy="mean",
#                       )

In [9]:
unseen = test.drop("default")

In [10]:
# pipe.train_data_transformed.show()

In [11]:
from SparkAutoML.ml_module.BinaryClassifier_module.classifier_file import BClassifier

In [12]:
cf = BClassifier(
                     training_data=train, # provide training data
                     hold_out_data=test, # provide hold out data
                     target_feature='default', # provide target label
                     numeric_features= ['LIMIT_BAL'], # identify numeric features
                     categorical_features=["BAL_CAT","maturity"], # identify categorical 
                     impute_missing_values=False, missing_value_strategy="mean",
                    )

In [13]:
cf.create_model('lrc') # you can check the features by claiing cf.hold_out_data_transformed.select("features").show()
# cf.create_model('rfc')

Training started for lrc ....
Training successfully ended for lrc ....

In [14]:
cf.evaluate_model('hold_out')

  model      type       auc  accuracy  weighted_precision  weighted_recall        f1
0   lrc  hold_out  0.611009  0.784099                 1.0         0.784099  0.878986

In [16]:
# predict on unseen data
cf.predict_model(unseen).show()

+---------+---+---------+--------+---+-------+--------+-------------+--------------+--------------------+---------------------+--------------------+--------------------+--------------------+----------+
|LIMIT_BAL|SEX|EDUCATION|MARRIAGE|AGE|BAL_CAT|maturity|BAL_CAT_index|maturity_index|BAL_CAT_index_onehot|maturity_index_onehot|            features|       rawPrediction|         probability|prediction|
+---------+---+---------+--------+---+-------+--------+-------------+--------------+--------------------+---------------------+--------------------+--------------------+--------------------+----------+
|    10000|  1|        1|       1| 41|    low|  mature|          0.0|           2.0|       (3,[0],[1.0])|        (3,[2],[1.0])|(7,[0,1,6],[10000...|[0.61395851869453...|[0.64884326402637...|       0.0|
|    10000|  1|        1|       2| 22|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|(7,[0,1,5],[10000...|[0.81962285602731...|[0.69415627704649...|       0.0|
|    10000|  1|        1|       2| 23|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|(7,[0,1,5],[10000...|[0.81962285602731...|[0.69415627704649...|       0.0|
|    10000|  1|        1|       2| 23|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|(7,[0,1,5],[10000...|[0.81962285602731...|[0.69415627704649...|       0.0|
|    10000|  1|        1|       2| 23|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|(7,[0,1,5],[10000...|[0.81962285602731...|[0.69415627704649...|       0.0|
|    10000|  1|        1|       2| 24|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|(7,[0,1,5],[10000...|[0.81962285602731...|[0.69415627704649...|       0.0|
|    10000|  1|        1|       2| 26|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|(7,[0,1,5],[10000...|[0.81962285602731...|[0.69415627704649...|       0.0|
|    10000|  1|        1|       2| 33|    low|    yong|          0.0|           0.0|       (3,[0],[1.0])|        (3,[0],[1.0])|(7,[0,1,4],[10000...|[0.75421470512762...|[0.68009636795440...|       0.0|
|    10000|  1|        1|       2| 36|    low|    yong|          0.0|           0.0|       (3,[0],[1.0])|        (3,[0],[1.0])|(7,[0,1,4],[10000...|[0.75421470512762...|[0.68009636795440...|       0.0|
|    10000|  1|        2|       1| 23|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|(7,[0,1,5],[10000...|[0.81962285602731...|[0.69415627704649...|       0.0|
|    10000|  1|        2|       1| 24|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|(7,[0,1,5],[10000...|[0.81962285602731...|[0.69415627704649...|       0.0|
|    10000|  1|        2|       1| 26|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|(7,[0,1,5],[10000...|[0.81962285602731...|[0.69415627704649...|       0.0|
|    10000|  1|        2|       1| 28|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|(7,[0,1,5],[10000...|[0.81962285602731...|[0.69415627704649...|       0.0|
|    10000|  1|        2|       1| 29|    low|   youth|          0.0|           1.0|       (3,[0],[1.0])|        (3,[1],[1.0])|(7,[0,1,5],[10000...|[0.81962285602731...|[0.69415627704649...|       0.0|
|    10000|  1|        2|       1| 35|    low|    yong|          0.0|           0.0|       (3,[0],[1.0])|        (3,[0],[1.0])|(7,[0,1,4],[10000...|[0.75421470512762...|[0.68009636795440...|       0.0|
|    10000|  1|        2|       1| 35|    low|    yong|          0.0|           0.0|       (3,[0],[1.0])|        (3,[0],[1.0])|(7,[0,1,4],[10000...|[0.75421470512762...|[0.68009636795440...|       0.0|
|    10000|  1|        2|       1| 41|    low|  mature|          0.0|           2.0|       (3,[0],[1.0])|        (3,[2],[1.0])|(7,[0,1,6],[10000...|[0.61395851869453...|[0.64884326402637...|       0.0|
|    10000|  1|        2|       1| 43|    low|  mature|          0.0|           2.0|       (3,[0],[1.0])|        (3,[2],[1.0])|(7,[0,1,6],[10000...|[0.61395851869453...|[0.64884326402637...|       0.0|
|    10000|  1|        2|       1| 44|    low|  mature|          0.0|           2.0|       (3,[0],[1.0])|        (3,[2],[1.0])|(7,[0,1,6],[10000...|[0.61395851869453...|[0.64884326402637...|       0.0|
|    10000|  1|        2|       1| 44|    low|  mature|          0.0|           2.0|       (3,[0],[1.0])|        (3,[2],[1.0])|(7,[0,1,6],[10000...|[0.61395851869453...|[0.64884326402637...|       0.0|
+---------+---+---------+--------+---+-------+--------+-------------+--------------+--------------------+---------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [ ]:
cf.evaluate_model(evaluate_on="holdout",)

In [16]:
cf.compare_models()

Training started for lrc ....
Training successfully ended for lrc ....
Training started for rfc ....
Training successfully ended for rfc ....
Training started for gbc ....
Training successfully ended for gbc ....
Training started for dtc ....
Training successfully ended for dtc ....
Training started for mlpc ....
Training started for svc ....
Training successfully ended for svc ....
Training started for nbc ....
Training successfully ended for nbc ....
Training started for fmc ....
Training successfully ended for fmc ....

  model     type       auc  accuracy  weighted_precision  weighted_recall        f1
5   nbc  holdout  0.612088  0.784099            1.000000         0.784099  0.878986
1   rfc  holdout  0.611507  0.784099            1.000000         0.784099  0.878986
2   gbc  holdout  0.611499  0.782865            0.984402         0.782865  0.869928
0   lrc  holdout  0.611009  0.784099            1.000000         0.784099  0.878986
6   fmc  holdout  0.599817  0.784099            1.000000         0.784099  0.878986
4   svc  holdout  0.584645  0.784099            1.000000         0.784099  0.878986
3   dtc  holdout  0.402557  0.782865            0.984402         0.782865  0.869928

In [21]:
cf.fitted_pipeline.stages

[StringIndexerModel: uid=StringIndexer_f1bd6b3a513a, handleInvalid=error, numInputCols=2, numOutputCols=2,
 OneHotEncoderModel: uid=OneHotEncoder_784bc268af8f, dropLast=false, handleInvalid=error, numInputCols=2, numOutputCols=2,
 VectorAssembler_69a35607a3c0,
 NaiveBayesModel: uid=NaiveBayes_7daad133561d, modelType=multinomial, numClasses=2, numFeatures=7]

In [18]:
import pyspark

In [19]:
pyspark.__version__

'3.2.1'

In [21]:
from pyspark.sql import DataFrame

In [22]:
DataFrame()

TypeError: __init__() missing 2 required positional arguments: 'jdf' and 'sql_ctx'

In [24]:
cf.train_data_transformed.columns

['LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'default',
 'BAL_CAT',
 'maturity',
 'BAL_CAT_index',
 'maturity_index',
 'BAL_CAT_index_onehot',
 'maturity_index_onehot',
 'features',
 'rawPrediction',
 'probability',
 'prediction']

In [25]:
cf.numeric_features

['LIMIT_BAL']